.postlistpage {
  padding: 2rem;
}

.postList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.noPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.noPostImage {
  width: 40%;
  height: auto;
  margin-bottom: 1rem;
}

.noPostMessage {
  font-size: var(--fs-20);
  color: var(--gray-800);
  text-align: center;
}

@media (max-width: 768px) {
  .noPostMessage {
    font-size: var(--fs-16);
  }
}
